@import url('https://fonts.googleapis.com/css2?family=Crete+Round:ital@0;1&family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Martel+Sans:wght@200;300;400;600;700;800;900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*,
*::after,
*::before {
  box-sizing: border-box;
}

/* Modal Popup Window */
#modal-wrapper {
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.7);
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  backdrop-filter: blur(10px);
  z-index: 2;
}

@media (min-width: 375px) {
  #modal-box {
    background-color: rgb(255, 255, 255);
    max-height: 100%;
    max-width: 80%;
    margin-top: 30px;
    border-radius: 20px;
    box-shadow: 0 0 rgba(241, 90, 34, 0.8);
    transform: scale(1);
    padding: 16px;
    z-index: 2;
    transition: 200ms ease-in-out;
  }

  #modal-box.active {
    transform: scale(1);
  }

  #modal-wrapper.active {
    display: flex;
  }

  #modal-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  #modal-box #close-modal {
    cursor: pointer;
    border: none;
    outline: none;
    background: none;
    font-size: 2.25rem;
    font-weight: bold;
    color: #333;
  }

  #modal-header h2 {
    max-width: 100%;
    max-height: 100%;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    font-size: 150%;
    line-height: 44px;
    color: #172b4d;
    margin-top: 0;
  }

  .close-modal {
    margin-top: -65px;
    color: rgb(247, 243, 243);
  }

  .popup-lang {
    display: flex;
    max-width: 100%;
    height: 36px;
    gap: 10px;
    margin-left: -40px;
    list-style-type: none;
    margin-top: -10px;
    margin-bottom: 50px;
  }

  .feature-image {
    max-width: 100%;
    max-height: 60%;
    margin-top: -25px;
    left: 24px;
  }

  .side-info p {
    max-width: 100%;
    max-height: 100%;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #344563;
    margin-top: 0;
  }

  .popup-lang a {
    text-decoration: none;
    border: 1px solid #979493;
    padding: 10px 12px;
    cursor: pointer;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    font-size: 13px;
    color: #3c3a39;
    line-height: 20px;
    width: 39px;
    height: 20px;
  }

  .out-links a {
    width: 220px;
    margin-top: 15px;
    left: 708px;
    padding-bottom: 10px;
    margin-right: 12px;
    background-color: #f55800;
    text-decoration: none;
    color: white;
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    font-size: 17px;
    line-height: 24px;
    letter-spacing: 3%;
    text-align: center;
  }

  .popup-lang a:hover {
    background-color: #f55800;
    color: white;
  }

  .out-links a:hover {
    background-color: white;
    color: #f55800;
  }

  .out-links {
    display: flex;
    justify-content: space-between;
    align-items: center;
    right: 50%;
  }

  .out-links img {
    padding-left: 10px;
    padding-top: 20px;
  }
}

@media only screen and (min-width: 768px) {
  #modal-box {
    background-color: rgb(255, 255, 255);
    height: auto;
    max-width: 1156px;
    top: 112px;
    left: 142px;
    box-shadow: 0 0 rgba(241, 90, 34, 0.8);
    transform: scale(1);
    padding: 30px;
    z-index: 99999;
    transition: 200ms ease-in-out;
  }

  #modal-box.active {
    transform: scale(1);
  }

  #modal-wrapper {
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.7);
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    backdrop-filter: blur(10px);
  }

  #modal-wrapper.active {
    display: flex;
  }

  #modal-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  #modal-box #close-modal {
    cursor: pointer;
    border: none;
    outline: none;
    background: none;
    font-size: 2.25rem;
    font-weight: bold;
    color: #333;
  }

  #modal-header h2 {
    width: 1056px;
    width: 70%;
    height: 70%;
    font-family: 'Crete Round', serif;
    font-weight: 400;
    font-size: 32px;
    line-height: 44px;
    color: #172b4d;
    margin-top: 0;
  }

  .popup-lang {
    display: flex;
    gap: 10px;
    margin-left: -40px;
    list-style-type: none;
    margin-top: 0;
    margin-bottom: 50px;
    width: 70%;
  }

  .popup-details {
    display: flex;
    gap: 12px;
  }

  .feature-image {
    width: 100%;
    height: 100%;
    top: 156px;
    left: 24px;
    bottom: 24px;
  }

  .side-info {
    flex-direction: column;
    width: 100%;
  }

  .side-info p {
    width: auto;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    color: #344563;
    margin-top: -25px;
    margin-bottom: 120px;
  }

  .popup-lang a {
    text-decoration: none;
    border: 1px solid #979493;
    padding: 10px 12px;
    border-radius: 4px;
    cursor: pointer;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 15px;
    color: #3c3a39;
    line-height: 20px;
    width: 39px;
    height: 20px;
  }

  .out-links {
    display: flex;
    justify-content: left;
    gap: 20px;
    margin-top: -50px;
  }

  .out-links a {
    width: 150px;
    top: 556px;
    left: 708px;
    margin-right: 12px;
    background-color: #f55800;
    text-decoration: none;
    color: white;
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    font-size: 17px;
    line-height: 24px;
    letter-spacing: 3%;
    text-align: center;
  }

  .out-links img {
    padding-left: 10px;
    padding-top: 20px;
  }
}
